{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a
            href="{% url 'admin:academics_question_export_math_answers' %}"
            class="viewlink"
        >
            Matematika javoblarini CSV yuklab olish
        </a>
    </li>

    <li>
        <a
            href="{% url 'admin:academics_question_import_math_answers' %}"
            class="addlink"
        >
            Matematika javoblarini CSV yuklash
        </a>
    </li>

    {{ block.super }}
{% endblock %}